<!doctype html>
<html>
    <title>Emojify</title>
    <h1>Enter text below to emojify</h1>
    
    <p>Add spice🌶️🔥🔥 to🌅 texting 💬, add👈 relevant emoji😏, make😬 it🙀 fun😉 and🚙 💬hilarious😆🔥 </p>
    
    <form method="post" action="/" id= "textdata">
        <input type="text" name="text" id="input-text" required>
        <button type="submit">Emojify</button>
    </form>

    <p id="emojified_text"></p>

    <script>


    async function postFormDataAsJson({ url, formData }) {
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

        const fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
            },
            body: formDataJsonString,
        };

        const response = await fetch(url, fetchOptions);

        if (!response.ok) {
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }

        return response.json()
    }


    async function handleFormSubmit(event) {
            event.preventDefault();

            const form = event.currentTarget;

            const url = form.action

            try {
                const formData = new FormData(form)
                const responseData = await postFormDataAsJson({ url, formData });
                document.getElementById('emojified_text').innerText = responseData.text
            } catch (error) {
            console.error(error)
            }
        } 


    const dataform = document.getElementById('textdata');

    dataform.addEventListener('submit', handleFormSubmit);



    // form.addEventListener('submit', function(e) {
    //     e.preventDefault();

    //     const formData = new FormData(this);
    //     const searchParams = new URLSearchParams();
        
    //     for (const pair of formData) {
    //         searchParams.append(pair[0], pair[1]);
    //     }

    //     console.log(formData)
    //     const keyy = formData.pair[0]
    //     const valuee = formData.pair[1]

    //     fetch('/', {
    //         method: 'POST',
    //         headers: {'Content-Type': 'application/json'},
    //         body: JSON.stringify({keyy: valuee })
    //     }).then(function (response) {
    //         return response.text();
    //     }).then(function (text) {
    //         document.getElementById('emojified_text').innerText = text
    //         console.log(text)
    //     })
    // });
    </script>
</html>
